@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --color-url: #D4AF37; /* Gold color */
  }

  .dark {
    --background: 0 0% 15%; /* Equivalent to #252525 in HSL */
    --foreground: 210 40% 98%;
  
    --card: 0 0% 15%; /* Dark mode card background */
    --card-foreground: 210 40% 98%;
  
    --popover: 0 0% 15%; /* Dark mode popover background */
    --popover-foreground: 210 40% 98%;
  
    --primary: 210 40% 98%; /* Dark mode primary color */
    --primary-foreground: 222.2 47.4% 11.2%;
  
    --secondary: 0 0% 20%; /* Dark mode secondary color */
    --secondary-foreground: 210 40% 98%;
  
    --muted: 0 0% 20%; /* Dark mode muted color */
    --muted-foreground: 215 20% 65%;
  
    --accent: 0 0% 20%; /* Dark mode accent color */
    --accent-foreground: 210 40% 98%;
  
    --destructive: 0 62.8% 30.6%; /* Dark mode destructive color */
    --destructive-foreground: 210 40% 98%;
  
    --border: 0 0% 20%; /* Dark mode border color */
    --input: 0 0% 20%; /* Dark mode input background */
    --ring: 212.7 26.8% 83.9%; /* Dark mode ring color */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* spline-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/spline-sans-v8-latin-300.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/spline-sans-v8-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* spline-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/spline-sans-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/spline-sans-v8-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* spline-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/spline-sans-v8-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/spline-sans-v8-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* spline-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/spline-sans-v8-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/spline-sans-v8-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* spline-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/spline-sans-v8-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/spline-sans-v8-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

a:link {
  scroll-behavior: auto !important;
}

/* globals.css */
.background-container {
  background-image: url("/image/forest-landscape.jpg"); /* Replace '/path/to/your/image.jpg' with the path to your image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  width: 100vw; /* Set width to 100% of the viewport width */
  height: 100vh; /* Set height to 100% of the viewport height */
  position: fixed; /* Fix the container position */
  top: 0; /* Position the container at the top */
  left: 0; /* Position the container at the left */
  z-index: -1; /* Set z-index to send the container behind other content */
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

.avatarImage {
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

.prose {
  max-width: 100%;
  color: #333;
}

[data-placeholder]:before {
  content: attr(data-placeholder);
  color: #a0aec0;
  font-style: italic;
  position: absolute;
}

body[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

body[dir="rtl"] .sidebar {
  right: 0;
  left: auto;
}

body[dir="rtl"] .navbar {
  margin-right: auto;
  margin-left: 0;
}

.theme-image {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.light-image {
  display: block;
}

.dark-image {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-image {
    display: none;
  }

  .dark-image {
    display: block;
  }
}

/* Add this to your global CSS file */
input, textarea, select, button {
  font-size: 16px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  background: #1e1e1e;
} */

::-webkit-scrollbar-thumb {
  background: #dab539;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}

/* Smooth Transitions */
* {
  transition: all 0.3s ease-in-out;
}